<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

  <p><strong>Modifier le type d'ingrédient</strong></p>

  <%= render 'form' %>

<% end %>


