<%= render 'header' %>
<%= render 'menu' %>

<%= add_menu_item(menu: :content_menu, 
     path: recipe_path(@recipe), label: 'Annuler') %>

<% content_for :item_content do %>
 <h3>Modifier la recette</h3>

  <%= render 'form' %>

<% end %>
