<% content_for :javascript_includes do %>
  <%= javascript_include_tag "recipes.js" %>
<% end %>

<% content_for :data_js do %>
  App.launch = 'recipeIndex';
<% end %>

<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

  <div id="CategoryGrid" class="row"></div>

<% end %>
