<%= render 'nav_resume' %>
<% content_for :content_header do %>
  <span class="title">Liste des recettes</span>
<% end %>
<%= render 'menu' %>

<% content_for :item_content do %>

    <%= table_by_category(
    category: {
      name: :type,
      collection: @recipe_types
    },
    item: {
      collection: @recipes
    },
      columns: @columns
  ) %>

<% end %>
