<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

<div id="TableContent">

  <%= table_by_category(
    category: {
      name: :type,
      collection: @recipe_types},
    item: {
      collection: @recipes,
      columns: @columns},
      columns_header: @columns_header
  ) %>

</div>

<% end %>
