<% content_for :nav_resume do %>
  > <%= link_to 'Recettes', recipes_path %>
<% end %>

<% content_for :content_menu do %>
  > <%= link_to 'Annuler', recipes_path %>
<%end%>

<% content_for :content_header do %>
  <span class="title">Nouvelle recette</span>
<% end %>

<% content_for :item_content do %>

  <%= render 'form' %>

<% end %>

