<% content_for :content_header do %>
  <span class="title">Modifier utilisateur</span>
<% end %>

<% content_for :content_menu do %>
  > <%= link_to 'Annluer', user_path(@user) %>
  <br>
  > <%= link_to 'Changer mot de passe', edit_user_registration_path %>
  <br>
  > <%= link_to 'Supprimer mon compte', user_path(@user), 
              method: :delete,
              data: { confirm: 'Voulez-vous supprimer cet utilisteur ?' }  %>

<% end %>

<% content_for :item_content do %>
  <%= render 'form' %>
<% end %>
