<% content_for :content_menu do %>
  <span class="menu-link"><%= link_to 'Modifier', edit_ingredient_path(@ingredient) %></span>
  <span class="menu-link"><%= link_to 'Supprimer', ingredient_path(@ingredient),
              method: :delete,
              data: { confirm: 'Voulez-vous supprimer cet ingrédient ?' } %></span>
<% end %>
