<% content_for :nav_resume do %>
  <span class="menu-link"><%= link_to 'Ingrédients', ingredients_path %></span>
  <span class="menu-link"><%= link_to @ingredient.type.name, ingredient_type_path(@ingredient.type) %></span>
  <span class="menu-link"><%= link_to @ingredient.name, ingredient_path(@ingredient) %></span>
<% end %>