<% content_for :nav_resume do %>
  > <%= link_to 'Ingrédients', ingredients_path %>
<% end %>

<% content_for :content_header do %>
  <span class="title">Liste des ingrédients</span>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: new_ingredient_path, label: 'Nouvel ingrédient') %>
<%= menu_item(menu: :content_menu, 
     path: new_ingredient_type_path, label: 'Nouveau type') %>

<% content_for :item_content do %>

  <%= table_by_type(
    types: @ingredient_types, 
    items: @ingredients, 
    columns: [
      {name: 'prix', value: 'price_by_unit_display' },
      {name: '#recettes', value: 'recipes_count'}
    ]
  ) %>

<% end %>