<%= render 'nav_resume' %>

<% content_for :content_header do %>
  <span class="title">Liste des ingrédients</span>
<% end %>

<%= render 'menu' %>

<% content_for :item_content do %>

  <% if @ingredients.any? then %>
  
    <%= table_by_category(
    category: {
      name: :type,
      collection: @ingredient_types
    },
    item: {
      collection: @ingredients
    },
      columns: [
        {name: 'prix', method: 'price_by_unit_display' },
        {name: '#recettes', method: 'recipes_count' },
        {name: 'stock', method: :quantity_in_stock, method_params: current_user }
      ]
  ) %>
  
  <% end %>

<% end %>