<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>
  
  <div id = "TableContent"></div>
  
  <% if @ingredients.any? then %>
  
    <%= table_by_category(
    category: {
      name: :type,
      collection: @ingredient_types},
    item: {
      collection: @ingredients,
      columns: [
        {method: 'price_by_unit_display', method_params: current_user },
        {method: 'recipes_count', method_params: current_user },
        {method: 'quantity_in_stock', method_params: current_user }]},
    columns_header: ['prix', '#recettes', 'stock']

  ) %>
  
  <% end %>


<% end %>