<%= render 'ingredients/nav_resume' %>

<%= render 'ingredients/header' %>

<%= render 'ingredients/menu' %>

<% content_for :item_content do %>

    <p><strong>Modifier le contenant</strong></p>
    <%= render 'form' %>

<% end %>

