<%= render 'ingredients/nav_resume' %>

<%= render 'ingredients/header' %>

<%= render 'ingredients/menu' %>

<% content_for :item_content do %>

  <p><strong>Ajouter un contenant</strong></p>
  <%= render 'form' %>

<% end %>
