<% content_for :content_header do %>
  <span class="title">Bienvenue sur le prototype du projet IRIS</span><br>
  <span class="subtitle">Site en cours de construction ...</span>
<% end %>

<% content_for :item_content do %>

<p>Ce projet a pour objectif de tester un prototype de site web 
  d'aide à la conception de mélanges (recettes) de produits naturels (ingrédients), 
  en particulier les compositions à base d'huiles essentielles : diffuseur de parfum, huile de massage...</p>

<% end %>
