<% content_for :content_header do %>
  <span class="title">Bienvenue sur le prototype du projet IRIS</span><br>
  <span class="subtitle">Site en cours de construction ...</span>
<% end %>

<% content_for :item_content do %>

<p>Ce projet a pour objectif de tester un prototype de site web 
  d'aide à la conception de mélanges (<%= link_to 'recettes', recipes_path %>) 
  de produits naturels (<%= link_to 'ingrédients', ingredients_path %>), 
  en particulier les compositions à base d'huiles essentielles : diffuseur de parfum, huile de massage...</p>

<p>Pour plus d'information, consultez le <a href="https://igreciris.wordpress.com/">Blog du projet</a>.</p>

<% end %>
