  <% content_for :content_header do %>
      <div class="title">Erreur innatendue</div>
  <% end %>

<% content_for :item_content do %>
  
  <p>Désolé, une erreur innatendue est survenue rendant impossible l'affichage de la page ...</p>

<% end %>