  <% content_for :content_header do %>
      <div class="title">Page introuvable</div>
  <% end %>

<% content_for :item_content do %>
  
  <p>Désolé, la page que vous cherchez n'existe pas ...</p>

<% end %>