<% content_for :nav_resume do %>
  > <%= link_to 'Recettes', recipes_path %><br>
  > <%= link_to 'Types', recipe_types_path %>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: recipes_path, label: 'Annuler') %>

<% content_for :content_header do %>
  <span class="title">Nouveau type de recette</span>
<% end %>

<% content_for :item_content do %>

  <%= render 'form' %>

<% end %>
