<%= form_for @variant, url: {action: @form_action}, method: @form_method do |f| %>
  <p>
    <%= f.label 'Nom' %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>

