<h3>Liste des variantes</h3>
 
<table>
  <tr>
    <th>Nom</th>
  </tr>
 
  <% @recipe.variants.each do |v| %>
    <tr>
      <td><%= link_to v.name, recipe_variant_path(@recipe,v) %></td>
    </tr>
  <% end %>
</table>

<p>
<%= link_to 'Nouvelle variante', new_recipe_variant_path(@recipe) %>
</p>

