<%= render 'nav_resume' %>

<% content_for :content_header do %>
  <span class="title">Nouvelle Variante</span><br>
  <span class="subtitle"><%= @recipe.name %></span>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: recipe_path(@recipe), label: 'Annuler') %>

<% content_for :item_content do %>

  <%= render 'form' %>

<% end %>
