<%= render 'nav_resume' %>

<% content_for :content_header do %>
  <span class="title">Nouvelle Variante</span><br>
  <span class="subtitle"><%= @recipe.name %></span>
<% end %>

<%content_for :content_menu do%>
  > <%= link_to 'Annuler', recipe_path(@recipe) %>
<% end %>

<% content_for :item_content do %>

  <%= render 'form' %>

<% end %>
