@import "compass";
@import "compass/css3";
@import "normalize";
/*@import "compass/reset";*/
/*@import "compass/reset/utilities";*/
@import "compass/typography/vertical_rhythm";

@import "bootstrap-sprockets";
@import "bootstrap";

/*$base-font-size: 0.8em;
$base-line-height: 0.8em;*/

$base-font-size: 16px;
$base-line-height: 16px;

$page-width-max: 700px;
$page-width-1: 480px;

$header-min-height: 40px; /*for main content of header with no message*/
$padding-step: 4px;

$color-base-text: rgb(92,90,98); 
$color-base-line: rgb(208,204,202); 
$color-primary-text: rgb(58,90,134); 
$color-primary-background: rgb(247,246,255); 
$color-secondary-text: rgb(195,146,0); 
$color-secondary-background: rgb(255,251,227); 

@mixin default_fonts {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: $base-font-size;
    color: $color-base-text;
    font-weight: normal;
}

html {
  overflow-y: scroll;
}

body {
  max-width: $page-width-max;
  @include default_fonts;
  margin: 0 auto;
}

 a {
   color: $color-primary-text;
   text-decoration: none; 
   &:hover {
      text-decoration: underline; 
  }
}

table.colored {
    border-collapse:collapse;
    tr.filled {
      background-color: $color-primary-background;
    }
    td {
        padding-right: 10px;
      &.category {
        font-weight: bold;   
      }
      &.item {
        @include box-sizing(border-box);
        padding-left: 4px;
      }
    }
}

td {
  vertical-align: top;
   &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}

.menu-link:before {
  content: "> ";
}
