/* file layout.css
 * Contain main layout : header, footer ...
 */
@import "variables";

.navbar .logo{
  height: 36px;
}

.navbar,
.navbar.navbar-default{
  background-color: $brand-primary-background-dark;
  color: white;
  margin-bottom: 0;
}

.navbar,
.navbar .navbar-nav,
.navbar .navbar-brand,
.navbar .navbar-brand:hover{
}

.navbar .navbar-nav li.active a:hover,
.navbar .navbar-nav li.active a:focus,
.navbar .navbar-nav li.active a{
  background-color: $brand-primary-background;
  color: $brand-primary-text;
}

.navbar .navbar-nav li a:hover{
  background-color: $brand-primary-background;
  color: $brand-primary-text;
}

.navbar button{
  color: $brand-primary-text;
}

.panel-context{
  margin: 12px;
  height: 600px;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.scrolls{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap
}

.collection-frame .panel-default.collection-panel{
  /*box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);*/
 box-shadow: none;
}

.collection-frame .panel-heading{
  border-radius: 0;
}

.collection-item{
  margin-bottom: 10px;
}

.collection-item .panel{
  display: inline-block;
  margin-bottom: 0;
}

.panel-item{
  width: 250px;
}

.panel.panel-default.collection-panel .panel-heading.collection-heading{
  background-color: $brand-primary-background;
  color: $brand-primary-text;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.panel.panel-default .panel-body{
  background-color: white;
  margin-top : 20px;
  padding-top: 0;
}

/*
.panel.panel-default.panel-item {
  box-shadow: none;
  border: 0.5px solid $brand-primary-background;
}
*/

.panel.panel-default.panel-item .panel-heading{
  background-color: $brand-secondary-background-dark;
  color: $brand-secondary-background;
}

.panel.panel-default.panel-item .panel-body{
  background-color: white;
  color: $brand-secondary-text;
}

button.navbar-toggle{
  color: $brand-secondary-text;
}

.item-collection-image{
  background-color: $brand-primary-background;
  height: 100px;
  float: left;
  margin: -5px 20px 0 0;
  @media (max-width: $screen-size-xs){
    display: none;
  }
}

.row-fluid{
     white-space: nowrap;
}
.row-fluid .col-lg-6{
     display: inline-block;
}

/*
.navbar .navbar-brand{
  @media (min-width: $screen-size-xs){
    padding: 12px;
  }
  @media (max-width: $screen-size-xs){
    padding: 6px 15px;
  }
}
*/

/*
.navbar-brand img{
  display: inline;
}
*/

/*
.navbar .navbar-nav li{
  @media (max-width: $screen-size-sm){
    margin-left: 4px;
    border-left: 2px solid $brand-primary-background-dark;
  }
}
*/

/*
.navbar .navbar-nav li.active,
.navbar .navbar-nav li.active:hover{
  border-bottom: 2px solid $brand-primary-text;
}
.navbar .navbar-nav li:hover{
  border-bottom: 1px solid $brand-primary-text;
*/
  
/*
  @media (min-width: $screen-size-sm){
    border-bottom: 2px solid $brand-primary-text;
  }
  @media (max-width: $screen-size-sm){
    border-left: 2px solid $brand-primary-text;
  }
*/
/*
}
*/

