/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "base";

@mixin right_column_left_position($width) {
  left: $page_width - $width;
  width: $width - 10px;
}

body {
  width: $page_width;

  @include default_fonts;
}

 a {
   color: $color-primary-text;
   text-decoration: none; 
   &:hover {
      text-decoration: underline; 
  }
}

table.colored {
    border-collapse:collapse;
    tr.filled {
      background-color: $color-primary-background;
    }
    td {
        padding-right: 10px;
    }
}

td {
  vertical-align: top;
   &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}

#Main_Header {
  position: relative;
  top : 0px;
  left: 0px;
  height: 70px;
  border-bottom: 1px solid $color-base-line;
}

#Main_Title {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 100px;
  font-size: 280%;
  padding: 3px;
  a:hover {
    text-decoration: none
  }
}

#Main_Menu {
  position: absolute;
  width: 220px;
  top : 10px;
  left: 102px;
  height: 40px;
}

#Manage_Session {
  position: absolute;
  float: right;
  top : 10px;
  right: 4px;
  width: 220px;
  height: 50px;
  text-align: right;
}

#Admin_Link {
  position: absolute;
  top : 10px;
  left: 200px;
  width: 120px;
  height: 20px;
}

#Message {
  position: absolute;
  float: right;
  top : 50px;
  right: 0px;
  width: 580px;
  height: 20px;
  text-align: right;
  color: red;
  font-style: italic;
}

#Nav_Resume {
  padding-left: 6px;
  position: relative;
  top : 2px;
  left: 0px;
  height: 20px;
  a {
    color: $color-secondary-text;
  }
}

#Main_Content{
  @include establish-baseline;
  position: relative;
  width: 100%;
  padding-left: 6px;
  top : 3px;
  left: 0px;
}

#Content_Header {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  color: $color-secondary-text;
  .title {
    font-size: 180%;
    color: $color-primary-text;
  }
  .subtitle {
    font-style : italic;
  }
}

#Content_Menu {
  position: absolute;
  z-index: 2;
  /*right: 0;*/
  @include right_column_left_position(160px);
  top: 0;
  /*width: 160px;*/
  padding: 5px;
  background-color: $color-secondary-background;
   a {
    color: $color-secondary-text;
  }
}

#Item_Content {
  position: relative;
  z-index: 1;
  top : 5px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-base-line;
}

/*
#item {
  position: absolute;
  top : 80px;
  left: 339px;
  width: 390px;
  padding-left: 10px;
  background-color: rgb(250,255,237);
  border-top: 1px solid rgb(59,84,2);
  border-left: 1px solid rgb(59,84,2);
}

#manage_item {
  position: absolute;
  top : 10px;
  right: 15px;
}

#recipe_menu {
  position: relative;
  width: 390px;
}

table.recipe_menu {
  border-collapse: collapse;
  position: relative;
  top : 10px;
  left: -11px;
  width: 401px;
  background-color: rgb(225,245,179);
  border-top: 1px solid rgb(59,84,2);
  border-bottom: 1px solid rgb(59,84,2);
}

td.recipe_menu {
  border-left: 1px solid rgb(59,84,2);
  text-align: center;
}

a.recipe_menu {
  text-decoration: none;
}
*/
