/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 580px;
  color : rgb(92,90,98); /*Color 3 */
}

table.colored tr.filled {
    background-color: rgb(248,246,255);
}

table.colored {
    border-collapse:collapse;
}

td {
  vertical-align: top;
}

td.center {
  text-align: center;
}

#Main_Header {
  position: relative;
  top : 0px;
  left: 0px;
  height: 70px;
  border-bottom: 1px solid rgb(208,204,202); /*Color 3 */
}

 a {
   color: rgb(53,38,203); /* Color 1 */
   text-decoration: none; 
}

a:hover {
   text-decoration: underline; 
}

#Main_Title {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 100px;
  font-size: 250%;
}

#Main_Title a:hover {
  text-decoration: none
}

#Main_Menu {
  position: absolute;
  width: 220px;
  top : 10px;
  left: 102px;
  height: 40px;
}

#Manage_Session {
  position: absolute;
  float: right;
  top : 10px;
  right: 4px;
  width: 220px;
  height: 50px;
  text-align: right;
}

#Admin_Link {
  position: absolute;
  float: right;
  top : 10px;
  right: 220px;
  width: 120px;
  height: 20px;
  text-align: right;
}

#Message {
  position: absolute;
  float: right;
  top : 50px;
  right: 0px;
  width: 470px;
  height: 20px;
  text-align: right;
  color : red;
}

#Nav_Resume {
  position: relative;
  top : 2px;
  left: 0px;
  height: 20px;
}

#Nav_Resume a {
  color: rgb(195,146,0); /*Color 4 */
}

#Main_Content{
  position: relative;
  width: 100%;
  top : 3px;
  left: 0px;
}

#Content_Header {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  color: rgb(195,146,0); /*Color 4 */
}

#Content_Header .title {
  font-size: 180%;
  color: rgb(53,38,203); /* Color 1 */
}

#Content_Header .subtitle {
  font-style : italic;
}

#Content_Menu {
  position: absolute;
  z-index: 2;
  padding: 5px;
  right: 0;
  top: 0;
  width: 160px;
  background-color: rgb(255,251,227); /*Color 3 */
}

#Content_Menu a {
  color: rgb(195,146,0); /*Color 4 */
}

#Resume_List {
  display: none;
}

#Item_Content {
  position: relative;
  z-index: 1;
  top : 5px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(208,204,202); /*Color 3 */
}

#item {
  position: absolute;
  top : 80px;
  left: 339px;
  width: 390px;
  padding-left: 10px;
  background-color: rgb(250,255,237);
  border-top: 1px solid rgb(59,84,2);
  border-left: 1px solid rgb(59,84,2);
}

#manage_item {
  position: absolute;
  top : 10px;
  right: 15px;
}

#recipe_menu {
  position: relative;
  width: 390px;
}

table.recipe_menu {
  border-collapse: collapse;
  position: relative;
  top : 10px;
  left: -11px;
  width: 401px;
  background-color: rgb(225,245,179);
  border-top: 1px solid rgb(59,84,2);
  border-bottom: 1px solid rgb(59,84,2);
}

td.recipe_menu {
  border-left: 1px solid rgb(59,84,2);
  text-align: center;
}

a.recipe_menu {
  text-decoration: none;
}

