/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "base";

/*$header-message-height:*/

#Header {
  @include box-sizing(border-box);
  padding-left: $padding-step * 1;
  padding-right: $padding-step * 1;
  width: 100%;
  border-bottom: 1px solid $color-base-line;
  .main-content{

    width: 100%;
    @media all and (min-width: $page-width-1) {
      min-height: $header-min-height;
      display: flex;
      flex-flow: row nowrap;
      .general-menu {
        /*height: $header-min-height;*/
      }
      & > .session-menu {
        margin-left: auto;
        order: 3;
      }
    }
    .title {
      vertical-align: text-top;
      width: 100px;
      font-size: 280%;
      a:hover {
      text-decoration: none
      }
    }
    .general-menu {
      padding-top: 5px;
      /*flex: 1;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;*/
      a {
        color: $color-secondary-text;
        /*align-self: flex-start;
        flex: 0 1 auto;*/
        padding: 8px 15px;
        &:hover {
          background-color: $color-secondary-background;
        }
      }
    }
  }
    .session-menu {
      @media all and (max-width: $page-width-1) {
        float: right;
      }
    flex-grow: 0;     /* no grow */
    flex-shrink: 0;   /* no shrink */
    flex-basis: 180px;/* length */
      width: 180px;
      padding-top: 7px;
      /*display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;*/
     .disabled {
       background-color: $color-primary-background;
       color: $color-primary-text;
       border: 1px solid #ccc;
     }
    }

  .message {
    width: 100%;
    min-height: 20px;
    text-align: right;
    color: red;
    font-style: italic;
  }
}

#Main {
  /*padding-top: $padding-step * 1;*/
  min-height: 220px;
  .nav-resume {
    @include box-sizing(border-box);
    /*padding-left: $padding-step * 1;
    top : 2px;
    left: 0px;
    min-height: 20px;
    display: flex;
    flex-flow: row wrap;*/
    .breadcrumb {
        padding: 4px 12px;
        margin-bottom: 16px;
        border-radius: 0px;
    }
    /*.menu-link {
      padding-right: 3px;
      &:before {
        content: "> ";
      }
    }*/
    a {
      color: $color-primary-text;
    }
  }
  .main-content{
    /*@include establish-baseline;*/
    width: 100%;
    top : 3px;
    left: 0px;
  }
  .content-header {
    width: 100%;
    @include box-sizing(border-box);
    padding-left: $padding-step * 2;
    margin-bottom: $padding-step * 1;
    /*min-height: 44px;*/
    min-height: 64px;
    color: $color-secondary-text;
    .title {
      font-size: 180%;
      color: $color-primary-text;
    }
    .subtitle {
      font-style : italic;
    }
  }
  .content-menu {
    @media all and (min-width: $page-width-1 +1 )
    {
      display: flex;
      flex-flow: column nowrap;
      float: right;
      width: 200px;
      @include box-sizing(border-box);
      margin-top: -64px;
    }
    @media all and (max-width: $page-width-1)
    {
      width: 100%;
      margin-bottom: $padding-step * 1;
      display: flex;
      flex-flow: row wrap;
      .menu-link {
        padding-right: 3px;
        &:before {
          content: "> ";
        }
      }
    }
    @include box-sizing(border-box);
    /*padding: $padding-step $padding-step $padding-step $padding-step * 3;*/
     a {
      background-color: $color-secondary-background;
      color: $color-secondary-text;
      /*border-color: $color-secondary-text;*/
      line-height: 1;
      border-radius: 0;
      border: 1px solid transparent;
      &:hover {
        border-color: $color-secondary-text;
      }
    }
  }
  .item-content {
    z-index: 1;

    width: 100%;
    @include box-sizing(border-box);
    padding-left: $padding-step * 1;
    padding-bottom: $padding-step * 3;
    .subcontent {
      .title {
        font-weight: bold;
        color: $color-base-text;
        @include box-sizing(border-box);
        margin: 5px 0 5px 0;
      }
    }
  }
}

#Footer {
    border-bottom: 1px solid $color-base-line;
}
