/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "base";

#Header {
  padding: $padding-step;
  .title-and-session {
    .title {
      padding: 0;
      font-size: 280%;
      line-height: 1;
      a:hover {
      text-decoration: none
      }
    }
    .session {
      padding: 0;
      .btn-group {
        float: right
      }
     .disabled {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: $color-primary-background;
      color: $color-primary-text;
      border: 1px solid #ccc;
      max-width: 130px;
      } 
    }
  }
}

#MainMenu {
  a {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: $color-secondary-text;
    padding: 8px 15px;
    background-color: $color-secondary-background;
    &:hover {
      background-color: $color-secondary-background-dark;
    }
  }
}

#NavBar{
  .breadcrumb {
      font-size: 80%;
      padding: 4px 12px;
      margin-bottom: 0;
      border-radius: 0px;
      border-top: 1px solid $color-base-line;
  }
}

#MainMessage {
  .alert {
    font-size: 80%;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
  }
}

#ContextMenu {
  nav {
    .navbar-nav {
      margin: 0;
    }
    .container-fluid {
      padding: 0;
    }
    background-color: $color-secondary-background;
    border : 0;
    min-height: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    a {
      color: $color-secondary-text;
      background-color: $color-secondary-background;
      padding: $padding-step;
      &:focus {
        background-color: $color-secondary-background-dark;
      }
      &:hover {
        background-color: $color-secondary-background-dark;
      }
    }
    li ul{
      background-color: $color-secondary-background;
    }
  }
}

#MainContent {
  padding: $padding-step;
  .header{
    .title {
      font-size: 180%;
      color: $color-primary-text;
    }
    .subtitle {
      font-style : italic;
      color: $color-secondary-text;
    }
  }
  .content {
    padding-top: $padding-step;
  }
  #CategoryGrid {
    .category {
      margin: 0;
      padding: $padding-step;
      .panel {
        margin: 0;
        .panel-body {
          padding: 0;
        }
        .table {
          width: 100%;
          /*margin-top: $padding-step;*/
        }
      }
    }
  }
}

#Footer {
    border-top: 1px solid $color-base-line;
}
