<p>Bonjour <%= @resource.name %> !</p>

<p>Apparemment tu as demandé à réinitialiser ton mot de passe sur le site du 
<%= link_to 'Projet IRIS', root_url() %>
  <br/>
  Pour cela, il suffit de cliquer sur le lien ci-dessous :
</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas fait cette demande, tu peux ignorer cet email.</p>
