<% content_for :content_header do %>
  <span class="title">
    Produit <%= @product.container + ' ' + (@product.volume/100).round.to_s + 'ml' %>
  </span><br>
<% end %>

<%= render '/shared/item_content_subtitle'%>