<form class="form-horizontal pg__product__form">
  <div class="form-group">
    <label class="integer required control-label col-sm-2" for="product__volume">
      <abbr title="requis">*</abbr> Volume
    </label>
    <div class="col-sm-3">
      <div class="input-group">
        <input class="numeric integer required form-control" type="number" step="10" id="product__volume" min=1>
        <span class="input-group-addon">ml</span>
      </div>  
    </div>
      <div class="col-sm-7" id="product__variant__frame">
        <div class="input-group">
          <select class="select form-control" id="product__variant">
          </select>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#" id="modify-variant">Informations</a></li>
              <li><a href="#" id="change-ingredients">Ingrédients</a></li>
              <li><a href="#" id="change-proportions">Proportions</a></li>
            </ul>
          </div>
        </div>
        <div class='item-description' style="display: none;">
        </div>
      </div>
  </div>

  <div id="product__details" style="display: none;">
 
    <div class="form-group">
      <label class="string required control-label col-sm-2" for="product__container">
        <abbr title="requis">*</abbr>Contenant
      </label>
      <div class="col-sm-10">
        <input class="string required form-control" type="text" id="product__container">
      </div>
    </div>

    <div class="form-group">
      <label class="string optional control-label col-sm-2" for="product__description">Description</label>
      <div class="col-sm-10">
        <textarea rows="2" class="string optional form-control" type="text" id="product__description"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="production-date__input" class="col-sm-2">Création</label>
      <div class="col-sm-4">
        <div class='input-group date' id='production-date'>
          <input type='text' class="form-control" id='production-date__input' />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
  
      <label for="expiration-date__input" class="col-sm-2">Péremption</label>
      <div class="col-sm-4">
        <div class='input-group date' id='expiration-date'>
          <input type='text' class="form-control" id='expiration-date__input' />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div> 
      </div>  
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 btn--product">
        <button class="btn btn-default" type="button" id="btn--product--details" >Créer produit</button>
        <button class="btn btn-default" type="button" id="btn--product--new--initiate" style="display: none;">Nouveau produit</button>
    </div>
    <div class="col-sm-4">
      <div id="btn--product--new--save" style="display: none;">
        <button class="btn btn-primary" type="button" id="btn--product--new--save--btn">Enregistrer</button>
        <div class="checkbox consume-stock">
          <label>
            <input type="checkbox"> Déduire des stocks
          </label>
        </div>
      </div>
    </div>

    <div id ="product__cost__group">
      <label class="integer optional control-label col-sm-2" for="product__cost__input">
        Coût
      </label>
      <div class="col-sm-3">
        <div class="input-group">
          <input class="numeric integer optional form-control" type="number" id="product__cost__input" disabled>
          <span class="input-group-addon">€</span>
        </div>  
      </div>
    </div>
  </div>
</form>
