<%= render 'variants/nav_resume' %>

<% content_for :content_header do %>
  <span class="title">Nouveau Produit</span><br>
  <span class="subtitle"><%= @recipe.name %></span>
<% end %>

<% content_for :content_menu do %>
  <%= link_to 'Annuler', :back %>
<% end %>

<% content_for :item_content do %>

  <%= render 'form' %>

<% end %>
