<%= render 'variants/nav_resume' %>

<% content_for :content_header do %>
  <span class="title">Nouveau Produit</span><br>
  <span class="subtitle"><%= @recipe.name %></span>
<% end %>

<%= add_menu_item(menu: :content_menu, 
     path: :back, label: 'Annuler') %>

<% content_for :item_content do %>

  <%= render 'form' %>

<% end %>
