<div  class="panel panel-default">
  <div class="panel-heading">
    <div class="name">
      <%- name %>
    </div>
  </div>
  <div class="default-hidden">
    <div class="panel-body">
    <i><%= description %></i>
    </div>
  </div>
</div>