<div  class="panel panel-default">
  <div class="panel-heading">
    <%- name %>
  </div>
  <div class="panel-body">
  </div>
  <table class="table ingredients table-striped">
  <thead>
  <tr><th>Ingredient</th></tr>
  </thead>
  <tbody></tbody>
  </table>
</div>