<div  class="panel panel-default">
  <div class="panel-heading">
    <div class="name">
      <%- name %>
    </div>
  </div>
  <div class="default-hidden">
    <div class="panel-body">
    </div>
    <table class="table ingredients table-striped">
    <thead>
    <tr><th>Ingredient</th><th>Stock</th></tr>
    </thead>
    <tbody></tbody>
    </table>
  </div>
</div>