<div class="collection-frame">
  <div class="collection-panel">
    <div class="collection-heading">
      <%- name %>
    </div>
      <div class="wrapper">
        <div class="scrolls">
        
      </div>
    </div>
  </div>
</div>
