  <div class="card collection-item">
    <div class="card-content">
      <p class="card-title"><%= this.model.get('name') %></p>
      <div class="item-list">
        <div class="main-item-badge">Ingredient 1</div>
        <div class="main-item-badge">Ingredient 2</div>
      </div>
    </div>
  </div>