<td class="spacing"></td>
<td class="name"><%= name %></td>
<td class="quantity-type-proportion"></td>
<td class="quantity-type-volume"></td>
<td class="quantity-type-mass"></td>
<td class="quantity-type-quantity"></td>
<td class="quantity-type-cost"></td>
<td class="quantity-type-stock"><%= stock/100 %></td>