<td class="name" colspan = "2"><%= name %></td>
<td class="quantity-type-proportion"></td>
<td class="quantity-type-volume"></td>
<td class="quantity-type-mass"></td>
<td class="quantity-type-quantity"></td>
<td class="quantity-type-price"></td>