<td class="description"><%= nameDisplay() %></td>
<td class="variant"><%= variant.nameSelector() %></td>
<td class="production-date"><%= productionDateDisplay() %></td>
<td class="product--delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>