<td class="description"><%= get('container') %> <%= get('volume')/100 %> ml</td>
<td class="variant"><%= get('variant').name %></td>
<td class="production-date"><%= productionDateDisplay() %></td>
<td class="product--delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>