<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="/images/logo.png" class="logo" alt=""></a>
      <a href="#" data-activates="mobile-demo" class="left button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right">
        <li>
          <% if user_signed_in? %>
            <%= link_to(
                  content_tag(:i, "person", class: "material-icons"), user_path(current_user), 
                  {type: :button, class: "btn-session connected"}) 
            %>
          <% else %>      
            <%= link_to(
              content_tag(:i, "person", class: "material-icons"), new_user_session_path, 
                  {type: :button, class: "btn-session"}) 
            %>
          <% end %>
          </a>
        </li>
      </ul>  
      <!-- search 
        <form class="right navbar-search">
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      -->
      <ul class=" hide-on-med-and-down main-menu">
        <li class="active"><a href="sass.html">Recettes</a></li>
        <li><a href="badges.html">Ingrédients</a></li>
      </ul>

    </div>
  </nav>
</div>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Recettes</a></li>
        <li><a href="badges.html">Ingrédients</a></li>
      </ul>
