 <div class="collection-frame">
  <div class="collection-panel">
    <div class="collection-heading">
      Diffuseur aérien
    </div>
    
      <img src="/images/rotins_primary.jpg" class="item-collection-image" alt="">
      
      <div class="wrapper">
        <div class="scrolls">
          <div class="card collection-item">
            <div class="card-content">
              <p class="card-title">A la fraiche</p>
              <div class="item-list">
                <div class="main-item-badge">Lavande fine</div>
                <div class="main-item-badge">Romarin</div>
                <div class="main-item-badge">Eucalyptus</div>
                <div class="main-item-badge">Gingembre</div>
              </div>
            </div>
          </div>
          <div class="card collection-item" style="left: 220px; top:-100px;">
            <div class="card-content">
              <p class="card-title">Anti Rhume</p>
              <div class="item-list">
                <span class="main-item-badge">Lavande fine</span>
                <span class="main-item-badge">Romarin</span>
              </div>
            </div>
          </div>
          <div class="card collection-item" style="left: 440px; top:-200px;">
            <div class="card-content">
              <p class="card-title">Kibouste</p>
              <div class="item-list">
                <span class="main-item-badge">Lavande fine</span>
                <span class="main-item-badge">Romarin</span>
              </div>
            </div>
          </div>
          <div class="card collection-item" style="left: 660px; top:-300px;">
            <div class="card-content">
              <p class="card-title">Kibouste</p>
              <div class="item-list">
                <span class="main-item-badge">Lavande fine</span>
                <span class="main-item-badge">Romarin</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <div class="collection-panel">
    <div class="collection-heading">
      Gel Douche
    </div>
    
      <img src="/images/douche_primary.jpg" class="item-collection-image" alt="">
      
      <div class="wrapper">
        <div class="scrolls">
          <div class="card collection-item">
            <div class="card-content">
              <p class="card-title">Boostant</p>
              <div class="item-list">
                <span class="main-item-badge">Lavande fine</span>
                <span class="main-item-badge">Romarin</span>
              </div>
            </div>
          </div>
          <div class="card collection-item" style="left: 220px; top:-100px;">
            <div class="card-content">
              <p class="card-title">Détente</p>
              <div class="item-list">
                <span class="main-item-badge">Lavande fine</span>
                <span class="main-item-badge">Romarin</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
</div>